<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >
  <application>
    <service
      android:name="com.falconeta.capacitor.matter.commissioning.AppCommissioningService"
      android:exported="true" />
      <!-- <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data android:name="home:-1:preferred" android:value=""/>
        </service> -->
  </application>
</manifest>
